body {
    font-family: "Arial Black";

}
header {
    background-color: lightgoldenrodyellow;
    text-transform: uppercase;
    text-align: center;
}
main {
    background-color: lightcyan;
}

img {
    height: 400px;
}

p {
    font-family: "Arial Black";
}